ul.ip {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
}
ul.ip li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.ip li.ip-choice {    
    position: relative;
    line-height: inherit;
}
input.ip-hidden-field {
    display: none;
}
ul.ip li.ip-choice-read-only { 
    padding: .2em .5em .2em .5em; 
} 

ul.ip li.ip-choice-editable { 
    padding: .2em .5em .2em .5em; 
} 

ul.ip li.ip-new {
    padding: .25em 4px .25em 0;
}

ul.ip li.ip-choice a.ip-label {
    cursor: pointer;
    text-decoration: none;
}
ul.ip li.ip-choice .ip-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.ip li.ip-choice .ip-close .text-icon {
    display: none;
}

ul.ip li.ip-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.ip input[type="number"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}